
#introduction{
    color:green;
  }
  body{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(16, 110, 56, 0.658);
  }
  form h1{
    text-transform:uppercase;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 128, 0);
  }
   h3{
    font-size:large;
    text-transform:capitalize;
    color: white;
  }
  p.textarea{
    color: black;
  }
  h2{
    font-family:Caveat;
    text-align: center;
    color: black;
  }
  img[src=".//cars/cars.avif"]{
    height: 100px;
    width: fit-content; 
  }
  p::first-line{
    color: rgb(0, 0, 0);
    text-align: center;
  }
  p{
    color: white;
  }
  footer{
  margin: auto;
  background-color: rgb(0, 0, 0)
  }
  h4{
    color: rgb(0, 0, 0);
    text-align: center;
  }
  h1{
    text-align: center;
    background-color:black;
    color: green;
  
  }
  footer{
    background-image: url(.//cars/cars.avif);
    background-size: contain ;
    background-repeat:no-repeat ;
  }
  h2{
    background-color: rgba(0, 0, 0, 0.479);
    color: green;
  }